.entity {
	position: absolute;
	margin: 3px;
}

.scribble {
	font-family: "Redacted Script", cursive;
	font-weight: 700;
	font-style: normal;
}

ul.dropdown,
.entity-cmb .value,
.entity-vs,
.entity-rec {
	border-style: solid;
	border-width: 8px;
	border-radius: 2px;
	border-image-outset: 3px;
	border-image-repeat: round;
	border-image-slice: 12 12 12 12;
	border-image-width: 10px;
}

.entity-cmb {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 0.5rem;
}
	.entity-cmb .value {
		background-color: #fff;
	}
	.entity-cmb .caret {
		background-image: url('../assets/dropdown-arrow-svgrepo-com.svg');
		background-size: contain;
		position: absolute;
		right: 0;
		top: 3px;
		width: 2rem;
		height: 2rem;
	}
	.entity-cmb ul.dropdown {
		margin: 0;
		background-color: #fff;
		padding-inline-start: 0;
		list-style-type: none;
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

.entity-rec {
	display: flex;
	flex-direction: column;
}

.entity-vs {
	background-color: #fff;
}
	.entity-vs div {
		position: absolute;
		width: 1rem;
		height: 1rem;
		left: -8px;
	}
	.entity-vs div.up {
		background-image: url('../assets/dropdown-arrow-svgrepo-com.svg');
		background-size: contain;
		top: -8px;
		rotate: 180deg
	}
	.entity-vs div.bar {
		top: 0.5rem;
		height: 50%;
		background-color: #999;
		border-radius: 1rem;
		width: 0.5rem;
		left: -0.25rem;
	}
	.entity-vs div.down {
		background-image: url('../assets/dropdown-arrow-svgrepo-com.svg');
		background-size: contain;
		bottom: -8px;
	}
.entity-tab,
.entity-tab ul li.selected,
.entity-hr {
	border-style: solid;
	border-width: 0px 0px 5px 0px;
	border-image-repeat: round;
	border-image-slice: 0 6 6 6;
	border-image-width: 0 0 5px 0;
	border-image-outset: 0 20px 0 20px;
}

.entity-tab ul {
	list-style-type: none;
	padding-inline-start: 0;
	margin: 0;
	margin-left: 20px;
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	font-size: 90%;
	gap: 2rem;
}
	.entity-tab ul li {
		color: #36c;
		padding: 0.5rem 0.25rem;
	}
	.entity-tab ul li.selected {
		outline: none;
		color: #999;
		border-image-outset: 0 20px 3px 20px;
	}
.entity-bcb {
	text-transform: uppercase;
	font-size: 0.75rem;
	display: flex;
	gap: 0.5rem;
}
	.entity-bcb span {
		color: #36c;
	}
	.entity-bcb span:last-child,
	.entity-bcb span.divider {
		color: #999;
	}

.entity-rad.selected
.entity-chb.selected {
	outline-offset: 2px;
}
	.entity-rad div.entity-ic,
	.entity-chb div.entity-ic {
		width: 1.5rem;
		height: 1.5rem;
		background-size: contain;
	}
	.entity-chb div.icon-chbx {
		background-color: #333;
	}
	.entity-chb div.icon-ckbx {
		background-color: #36c;
	}
	.entity-rad div.icon-rado {
		background-color: #333;
	}
	.entity-rad div.icon-crad {
		background-color: #36c;
	}
	.entity-rad ul,
	.entity-chb ul {
		list-style-type: none;
		padding-inline-start: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 0.1rem;
	}
	.entity-rad ul li,
	.entity-chb ul li {
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}

#-canvas .entity-ic {
	mask-size: contain;
	mask-repeat: no-repeat;
	aspect-ratio: 1;
}

.entity-lbl {
	width: fit-content;
}
	.entity-lbl p {
		margin-block-start: 0;
		margin: 0 0 0.01rem 0;
	}

.selected {
	outline-offset: 5px;
	outline: 4px dotted #36c;
}