body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	overflow: hidden;
	font-size: 11pt;
}

a {
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}

#-canvas {
	font-family: "Balsamiq Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	position: absolute;
	inset: 0;
}

#-selection {
	outline-offset: 5px;
	outline: 2px solid #36c;
	position: absolute;
}
	#-selection.multiple {
		outline-offset: 10px;
		outline: 1px dashed #36c;
	}
	#-selection-subs {
		position:absolute;
		offset: 0;
	}
		#-selection-subs>div {
			outline-offset: 5px;
			outline: 2px solid #36c;
			position: absolute;
		}
	#-selection .handle {
		border: 1px solid #36c;
		background-color: #36c;
		width: 0.5rem;
		height: 0.5rem;
		position: absolute;
	}
	#-selection .handle.ne {
		top: -10px;
		right: -10px;
		cursor: nesw-resize;
	}
	#-selection .handle.n {
		top: -10px;
		right: calc(50% - 5px);
		cursor: ns-resize;
	}
	#-selection .handle.nw {
		top: -10px;
		left: -10px;
		cursor: nwse-resize;
	}
	#-selection .handle.w {
		top: calc(50% - 5px);
		left: -10px;
		cursor: ew-resize;
	}
	#-selection .handle.e {
		top: calc(50% - 5px);
		right: -10px;
		cursor: ew-resize;
	}
	#-selection .handle.sw {
		bottom: -10px;
		left: -10px;
		cursor: nesw-resize;
	}
	#-selection .handle.s {
		bottom: -10px;
		right: calc(50% - 5px);
		cursor: ns-resize;
	}
	#-selection .handle.se {
		bottom: -10px;
		right: -10px;
		cursor: nwse-resize;
	}
#-glass {
	position: absolute;
	inset: 0;
}
	#-glass.ready {
		cursor: grab;
	}
	#-glass.dragging {
		cursor: grabbing;
	}
	#-glass.caret-ns {
		cursor: ns-resize;
	}
	#-glass.caret-ew {
		cursor: ew-resize;
	}
	#-glass.caret-nwse {
		cursor: nwse-resize;
	}
	#-glass.caret-nesw {
		cursor: nesw-resize;
	}
	#-glass #-caret {
		position: absolute;
		min-width: 24px;
		min-height: 24px;
		border: 3px solid rgb(51, 102, 204);
		border-radius: 1rem;
		background-color: rgba(51, 102, 204,0.5);
	}
	#-glass input,
	#-glass textarea {
		position: absolute;
		min-width: 24rem;
	}

#-toolbar {
	font-family: "Karla", sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.5rem 1rem 0.25rem 1rem;
	background-color: rgba(0,0,0,0.2);
	backdrop-filter: blur(8px);
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
	#-toolbar > div {
		display: flex;
		gap: 1rem;
	}
	#-toolbar img {
		max-width: 1.5rem;
		vertical-align: middle;
		margin-top: -0.2rem;
	}

#-search-dropdown {
	position: absolute;
	top: 2.5rem;
	width: 20rem;
}

#-search-list {
	font-family: "Karla", sans-serif;
	padding-inline-start: 0;
	border: 1px solid #ddd;
	list-style-type: none;
	background-color: white;
	top: 1.2rem;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
	overflow: hidden scroll;
	max-height: 35rem;
}
	#-search-list a {
		display: block;
		padding: 0.5rem;
		text-decoration: none;
		color: #000;
	}
	#-search-list li {
		position: relative;
	}
		#-search-list li img {
			position: absolute;
			right: 0.25rem;
			top: 0.25rem;
			max-width: 1.5rem;
		}
	#-search-list li.selected {
		outline: none;
	}
		#-search-list li.selected a, #-search-list a:hover, #-search-list a:focus {
			background-color: #36c;
			color: #fff;
			text-decoration: underline;
		}
		#-search-list a:hover img,
		#-search-list li.selected img {
			filter: invert()
		}
#-main-dropdown {
	position: absolute;
	top: 2rem;
	left: 0.5rem;
	width: 40rem;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
	padding: 1rem;
	border: 1px solid #ddd;
	background-color: white;
	border-radius: 8px;
	font-family: "Karla", sans-serif;
	font-style: normal;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
	#-main-dropdown > div {
		display: flex;
		gap: 0.5rem;
		align-items: flex-start;
	}
	#-main-dropdown span {
		color: #999;
		display: block;
	}
	#-main-dropdown img {
		max-width: 2rem;
	}
	#-main-dropdown input {
		margin-top: 0.5rem;
	}
	#-main-dropdown ul {
		list-style-type: none;
		padding-inline-start: 0;
		margin: 0;
		font-size: 10pt;
		color: #666;
	}

#-palette {
	font-family: "Karla", sans-serif;
	font-weight: 400;
	font-style: normal;

	position: absolute;
	inset: 0 0 0 0;
	left: unset;
	width: 200px;
	padding: 3rem 0.5rem;

	border-left: 1px solid #ccc;
	background-color: rgba(220,220,220,0.95);
	backdrop-filter: blur(4px);
	box-shadow: -4px 0px 8px rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
	#-palette div {
		display: flex;
		flex-direction: row;
		justify-content: right;
		align-items: baseline;
		gap: 0.5rem;
	}
	#-palette div input {
		width: fit-content;
		max-width: 5rem;
	}
	#-palette .message {
		justify-content: center;
	}
	[data-type="colour"] {
		border: 1px solid #aaa;
		border-radius: 8px;
		min-width: 4rem;
		min-height: 1.75rem;
	}
	#-palette .toolbar {
		position: relative;
		margin-top: 0.25rem;
		padding: 2rem 0.1rem 0.1rem 0.1rem;
		border-top: 1px solid #ccc;
		justify-content: space-evenly;
		align-items: center;
		gap: 0.1rem;
	}
	#-palette .toolbar span {
		position: absolute;
		left: 0.25rem;
		top: 0.75rem;
		text-transform: uppercase;
		font-size: 80%;
		color: #888;
	}
	#-palette .toolbar input {
		flex: 1;
	}
	#-palette .toolbar a.selected {
		outline: none;
		border-radius: 4px;
		background-color: #888;
		filter: invert();
	}

	#-palette .toolbar a:hover {
		background-color: #ccc;
	}
	#-palette .toolbar a.flip img {
		transform: rotate(180deg);
	}
	#-palette .toolbar img {
		max-width: 1.5rem;
	}

textarea,
input {
	font-family: "Karla", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: inherit;
}

.hidden,
#-main-dropdown.hidden,
#-search-dropdown.hidden,
#-palette.hidden,
#-palette div.hidden {
	display: none;
}

#-lightbox {
	position: absolute;
	inset: 0;
	background-color: rgba(0,0,0,0.35);
	backdrop-filter: blur(1px);
}

#-editor {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 25rem;
	height: fit-content;
}
	#-editor.hidden {
		display: none;
	}
	#-editor .edit-buttons a {
		background-color: #ddd;
		border: 1px solid #666;
		border-radius: 5px;
		padding: 0.5rem;
		box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
		background-image: url('../assets/check-svgrepo-com.svg');
		position: absolute;
		width: 0.75rem;
		height: 0.75rem;
		background-size: contain;
	}
	#-editor textarea {
		resize: none;
		box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
	}
	
.picker {
	position: absolute;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
	padding: 0.5rem;
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	max-width: 8.3rem;
	gap: 0.1rem;
}
	.picker input[type="button"] {
		width: 2rem;
		height: 2rem;
		border: 1px solid #aaa;
		border-radius: 3px;
	}
	.picker input.selected {
		outline-offset: 0px;
		outline: 2px dotted #36c;
	}