/**
 * Simple empty body. We hide scrolling here since we use the space dragger or the compass
 * to move around.
 */
body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	overflow: hidden;
	font-size: 11pt;
}

/* Plain hyperlinks with underlines appearing on hover */
a {
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: underline;
	}
}

/* Canvas is where the shapes are drawn. It uses the sketchy font. */
#-canvas {
	font-family: "Balsamiq Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	position: absolute;
	inset: 0;
}

/* Selection is drawn around the selected shapes */
#-selection {
	outline-offset: 5px;
	outline: 2px solid #36c;
	position: absolute;
	
	/* Multiple selections get a thinner line with the individual shapes getting thicker ones. */
	&.multiple {
		outline-offset: 10px;
		outline: 1px dashed #36c;
	}
	
	/* Handles are the blue boxes for interacting with the selection */
	& .handle {
		border: 1px solid #36c;
		background-color: #36c;
		width: 0.5rem;
		height: 0.5rem;
		position: absolute;

		/* There's one handle for each compass point. */
		&.ne {
			top: -10px;
			right: -10px;
			cursor: nesw-resize;
		}
		&.n {
			top: -10px;
			right: calc(50% - 5px);
			cursor: ns-resize;
		}
		&.nw {
			top: -10px;
			left: -10px;
			cursor: nwse-resize;
		}
		&.w {
			top: calc(50% - 5px);
			left: -10px;
			cursor: ew-resize;
		}
		&.e {
			top: calc(50% - 5px);
			right: -10px;
			cursor: ew-resize;
		}
		&.sw {
			bottom: -10px;
			left: -10px;
			cursor: nesw-resize;
		}
		&.s {
			bottom: -10px;
			right: calc(50% - 5px);
			cursor: ns-resize;
		}
		&.se {
			bottom: -10px;
			right: -10px;
			cursor: nwse-resize;
		}
	}
}

/* Selection subs appear when multiple selections are used around each shape. */
#-selection-subs {
	position:absolute;
	offset: 0;

	/* The same thick line as above for each shape. */
	&>div {
		outline-offset: 5px;
		outline: 2px solid #36c;
		position: absolute;
	}
}

/* Glass sits on top of the UI and interacts with the mouse. */
#-glass {
	position: absolute;
	inset: 0;

	/* Various cursors for various application states. */
	&.ready {
		cursor: grab;
	}
	&.ready-xhair {
		cursor: crosshair;
	}
	&.ready-hand {
		cursor: pointer;
	}
	&.dragging {
		cursor: grabbing;
	}
	&.caret-ns {
		cursor: ns-resize;
	}
	&.caret-ew {
		cursor: ew-resize;
	}
	&.caret-nwse {
		cursor: nwse-resize;
	}
	&.caret-nesw {
		cursor: nesw-resize;
	}

	/* Sometimes there are form elements on glass for getting user input */
	& input,
	& textarea {
		position: absolute;
		min-width: 24rem;
	}
}

/* Drag Rect is used when the user is drawing on the screen to select shapes ... */
#-drag-rect.select {
	background-color: rgba(0,0,0,0.25);
	border: 1px solid #666;
	position: absolute;

	/* ... or add a new rectangle */
	&.entity-rec {
		background-color: #fff;;
	}
}

/* Toolbar is pinned to the top of the screen and lays out horizontally. */
#-toolbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #f0f0f0;
	font-family: "Karla", sans-serif;
	
	padding: 0.1rem 1rem 0.1rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	/* Make the title black. */
	& #-title {
		color: #000;
	}

	& > div {
		display: flex;
		gap: 1rem;
	}
	& img {
		max-width: 1.5rem;
		vertical-align: middle;
		margin-top: -0.2rem;
	}

	/* Buttons is the area top-right with some image buttons in */
	& > div.buttons {
		gap: 0.25rem;

		/* Style the <a> to look and behave like buttons. */
		& a {
			padding: 0.4rem 0.25rem 0.25rem 0.25rem;
			border-radius: 8px;
			
			&.disabled {
				opacity:0.25;
			}
			&:hover {
				background-color: #ccc;
			}
			&:hover.disabled {
				background-color: unset;
				cursor: not-allowed;
			}
		}
	}
}

#-rename-input {
	position: absolute;
	top: 32px;
	left: 32px;
}

/* The UI used to search for and add new shpaes to the canvas. */
#-search-dropdown {
	position: absolute;
	top: 2.5rem;
	width: 20rem;

	/* Search list is the long list of shapes and icons. */
	& #-search-list {
		top: 1.2rem;
		max-height: 35rem;
		margin-top: 0.5rem;
		overflow: hidden scroll;
		border-radius: 8px;
		box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
		background-color: white;
		border: 1px solid #ddd;
		font-family: "Karla", sans-serif;
		padding-inline-start: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;

		/* Styling for entries in the list */
		& li {
			position: relative;
			& a {
				display: block;
				padding: 0.5rem;
				text-decoration: none;
				color: #000;

				&:hover,:focus {
					background-color: #36c;
					color: #fff;
					text-decoration: underline;
					
					& img {
						filter: invert()
					}
				}
			}

			/* Icon previews are pinned to the right of the entry */
			& img {
				position: absolute;
				right: 0.25rem;
				top: 0.25rem;
				max-width: 1.5rem;
			}
			&.selected {
				outline: none;
				& a {
					background-color: #36c;
					color: #fff;
					text-decoration: underline;
				}
				& img {
					filter: invert()
				}
			}
		}
	}
}

#-main-dropdown {
	position: absolute;
	top: 2rem;
	left: 0.5rem;
	width: 60rem;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
	border: 1px solid #ddd;
	background-color: white;
	border-radius: 8px;
	font-family: "Karla", sans-serif;
	font-style: normal;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
	#-main-dropdown div.split {
		padding: 1rem;
		display: flex;
		flex-direction: row;
		gap: 5rem;
	}
	#-main-dropdown div.split > div {
		width: 25rem;
		max-width: 25rem;
	}
	#-main-dropdown div.options {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		align-items: flex-start;
	}
	#-main-dropdown div.option {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		align-items: flex-start;
	}
	#-main-dropdown div.option .delete {
		font-weight: 700;
		color: #f00;
	}
	#-main-dropdown span {
		color: #999;
		display: block;
	}
	#-main-dropdown span#-version,
	#-main-dropdown span#-year {
		color: unset;
		display: unset;
	}
	#-main-dropdown img {
		max-width: 2rem;
	}
	#-main-dropdown input {
		margin-top: 0.5rem;
	}
	#-main-dropdown ul {
		list-style-type: none;
		padding-inline-start: 0;
		margin: 0;
		font-size: 10pt;
		color: #666;
	}
	#-main-dropdown .credits {
		padding: 1rem;
		background-color: #f0f0f0;
	}
	#-main-dropdown .credits img {
		max-width: 1.25rem;
	}
	#-main-dropdown .credits ul {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
	}

ul#-wireframes {
	font-size: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
	list-style-type: circle;
	padding-inline-start: 1.5rem;
	margin-top: 0.25rem;
}

#-palette {
	font-family: "Karla", sans-serif;
	font-weight: 400;
	font-style: normal;

	position: absolute;
	inset: 0 0 0 0;
	left: unset;
	width: 200px;
	padding: 3rem 0.5rem;

	border-left: 1px solid #ccc;
	background-color: #ddd;
	display: flex;
	flex-direction: column;
	gap: 0.35rem;
}
	#-palette div {
		display: flex;
		flex-direction: row;
		justify-content: right;
		align-items: baseline;
		gap: 0.5rem;
	}
	#-palette div input {
		width: fit-content;
		max-width: 5rem;
	}
	#-palette .message {
		justify-content: center;
	}
	[data-type="colour"] {
		border: 1px solid #aaa;
		border-radius: 8px;
		min-width: 4rem;
		min-height: 1.75rem;
	}
	#-palette div input[data-type="icon"] {
		background-color: #333;
		color: #333;
		mask-size: contain !important;
		aspect-ratio: 1;
		height: 1.5rem;
		width: 1.5rem;
		border: 0;
	}
	#-palette div input[data-type="icon"]:hover {
		background-color: #fff;
		color: #fff;
		cursor: pointer;
	}
	#-palette .toolbar {
		position: relative;
		margin-top: 0.15rem;
		padding: 1.85rem 0.1rem 0.1rem 0.1rem;
		border-top: 1px solid #ccc;
		justify-content: space-evenly;
		align-items: center;
		gap: 0.1rem;
	}
	#-palette .toolbar span {
		position: absolute;
		left: 0.25rem;
		top: 0.75rem;
		text-transform: uppercase;
		font-size: 80%;
		color: #888;
	}
	#-palette .toolbar input {
		flex: 1;
	}
	#-palette .toolbar a.selected {
		outline: none;
		border-radius: 4px;
		background-color: #888;
		filter: invert();
	}

	#-palette .toolbar a:hover {
		background-color: #ccc;
	}
	#-palette .toolbar a.flip img {
		transform: rotate(180deg);
	}
	#-palette .toolbar img {
		max-width: 1.5rem;
	}

textarea,
input {
	font-family: "Karla", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: inherit;
}

.hidden,
#-main-dropdown.hidden,
#-search-dropdown.hidden,
#-palette.hidden,
#-palette div.hidden {
	display: none;
}

#-lightbox {
	position: absolute;
	inset: 0;
	background-color: rgba(0,0,0,0.35);
	backdrop-filter: blur(1px);
}

#-editor {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 25rem;
	height: fit-content;
}
	#-editor.hidden {
		display: none;
	}
	#-editor .edit-buttons a {
		background-color: #ddd;
		border: 1px solid #666;
		border-radius: 5px;
		padding: 0.5rem;
		box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
		background-image: url('../assets/check-svgrepo-com.svg');
		position: absolute;
		width: 0.75rem;
		height: 0.75rem;
		background-size: contain;
	}
	#-editor textarea {
		box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
	}
	
.picker {
	position: absolute;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
	padding: 0.5rem;
	width: fit-content;
	height: fit-content;
	display: flex;
	gap: 0.1rem;

	&.colour-picker {
		flex-wrap: wrap;
		max-width: 8.3rem;
	}
	&.icon-picker {
		font-family: "Karla", sans-serif;
		flex-direction: column;
		max-height: 20rem;
		overflow-y: scroll;
		
		& a {
			padding: 0.25rem;
			display: flex;
			gap: 0.5rem;
			cursor: pointer;
	
			&.selected {
				background-color: #36c;
				color: #fff;
			}
			&.selected img {
				filter: invert()
			}
			& img {
				width: 1rem;
				height: 1rem;
			}
		}
	}
}
	.colour-picker input[type="button"] {
		width: 2rem;
		height: 2rem;
		border: 1px solid #aaa;
		border-radius: 3px;
	}
	.colour-picker input.selected {
		outline-offset: 0px;
		outline: 2px dotted #36c;
	}