body {
	margin: 0;
	padding: 0;
	background-color: #dddddd;
	overflow: hidden;
}

#-canvas {
	font-family: "Balsamiq Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	position: absolute;
	inset: 0;
}

#-glass {
	position: absolute;
	inset: 0;
	border: 1px solid red;
}
	#-glass.ready {
		cursor: grab;
	}
	#-glass.dragging {
		cursor: grabbing;
	}

#-toolbar {
	font-family: "Karla", sans-serif;
	font-weight: 100;
	font-style: normal;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.5rem;
	background-color: rgba(0,0,0,0.2);
	display: flex;
	gap: 1rem;
}

.scribble {
	font-family: "Redacted Script", cursive;
	font-weight: 700;
	font-style: normal;
}

.rectangle {
	position: absolute;
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	border-radius: 10px;
	border-image: url(../assets/button.svg) 12 12 12 12 round round;
	display: flex;
	flex-direction: column;
}

.selected {
	outline-offset: 2px;
	outline: 4px dotted #36c;
}
